.button {
    -fx-background-color: #4CAF50;
    -fx-font-family: "Gill Sans";
    -fx-text-fill: white;
}
.button:pressed {
    -fx-background-color: #3d04ae;
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-scale-y: 1.2;
    -fx-scale-x: 1.2;
    }
}